body {
  background-color: #AC7B7D;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1{
  text-align: center;
  color: #e9d8d8; 
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
  font-size: 100px;
}


#message{
  text-align: center;
  color: #e9d8d8; 
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 2vmin;
  justify-content: center;
}

#replayBtn {
  text-align: center;
  margin: auto;
  color: #8e6668;
  border: 3px solid #9c7072;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 29px;
}

div {
  vertical-align: middle;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 80px;  
  color: #e9d8d8;
  border: 3px double #553e3f ;
}